@page "/ListadoDetalles"
@using Parcial_II.Data
@inject DetallesService DetallesService
@inject IJSRuntime JsRuntime
@inject NavigationManager navigation
<h3>Listado de Detalles</h3>
<button class="btn" @onclick="()=>Editar(0)">Nuevo</button>

@if (detalles == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Fecha</th>
                <th>Tiempo</th>
                <th>Recurso</th>
                <th>Tarea</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var detalle in detalles)
            {
            <tr>
                <td>@detalle.Id</td>
                <td>@detalle.Fecha</td>
                <td>@detalle.Tiempo</td>
                <td>@detalle.Recurso.Nombre</td>
                <td>@detalle.Tarea.Titulo</td>
                <td>
                    <button class="btn" @onclick="()=>Editar(detalle.Id)">Editar</button>
                    <button class="btn" @onclick="()=>Borrar(detalle.Id)">Borrar</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Detalles> detalles;

    protected override async Task OnInitializedAsync()
    {
        detalles = await DetallesService.GetAll();
    }
    protected void Editar(int id)
    {
        navigation.NavigateTo("detalles/editar/" + id);
    }
    async Task Borrar(int id)
    {
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Desea elimiar el siguiente detalle?");
        if (confirmed)
        {
            await DetallesService.Remove(id);
            detalles = await DetallesService.GetAll();
        }
    }
}
